* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root, #root>div {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  line-height: 1.15;
}

head {
  display: none;
}

body {
  display: block;
}

div {
  display: block;
}



